body {
 font-family: Arial;
 font-size: 12px;
 margin: 0;
 padding: 0;
}

h1 {
 font-size: 1.6em;
}

h2 {
 padding: 5px;
 font-size: 1.4em;
}

ul, li {
  list-style: none;
  padding: 0px;
  margin: 2px; 
}
