body {
 font-family: Arial;
 font-size: 12px;
 margin: 0;
 padding: 0;
}

h1 {
 font-size: 1.6em;
}

h2 {
 padding: 5px;
 font-size: 1.4em;
}

ul, li {
  list-style: none;
  padding: 0px;
  margin: 2px; 
}

header {
  color: white;
  background-color:#333;
  padding: 3px;
}

nav {
 float: left;
 width: 15%;
 margin: 0px;
 padding: 0px;
}

section {
 float: left;
 width: 70%;
 border-left: 3px dotted #333;
}

aside {
 float: right;
 width: calc(15% - 11px);
 padding: 4px;
 color: white;
 background-color:#333; 
}

footer {
 clear: both;
 position:absolute;
 bottom: 0;
 text-align: center;
 color:white;
 width:100%;
 background-color:#333; 
}

